    /*--------------------------------------------------------------
    # General
    --------------------------------------------------------------*/

    .navbar a {
    color: #ffffffdb;
    }

    .navbar .active, .navbar .active:focus, .navbar li:hover>a {
        background: #ffffff4f;
    }

    .navbar .dropdown:hover>ul {
        background: #000;
    }

    .navbar .dropdown ul a {
        color: #fff;
    }

    .mobile-nav-toggle {
        color: #fff;
    }

    .navbar-mobile ul {
        background-color: #000;
    }

    .navbar-mobile {
        background: #323233;
    }

#features {
    position: relative;
    width: 100%;
    height: 300vh;
    overflow: hidden;
}

#backgroundVideo {
    position: fixed; /* Usamos fixed para que el video permanezca en su lugar durante el scroll */
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateX(-50%); /* Centrar horizontalmente */
    z-index: -1;
}

#features::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgb(33 37 41 / 44%), rgb(0 0 0 / 88%));
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 1s ease;
}


#features.blur::after {
    opacity: 1;
}

.text-container {
    position: relative;
    z-index: 1;
    padding-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.image-text {
    margin: 12rem 0;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
}

.image-text h1 {
    font-size: calc(1.7rem + 4vw);
    text-transform: uppercase;
    color: #b20000; /* Color base rojo oscuro */
    text-shadow:
      0 1px 0 #910000, /* Tono más oscuro */
      0 2px 0 #820000,
      0 3px 0 #730000,
      0 4px 0 #640000,
      0 5px 0 #550000,
      0 6px 0 #460000,
      0 9px 0 #370000,
      0 10px 0 #280000,
      3px 10px 15px rgba(0, 0, 0, 0.2), /* Sombra suave para profundidad */
      3px 10px 5px rgba(0, 0, 0, 0.4); /* Sombra más intensa para contraste */
}

/* Media query para pantallas grandes */
@media (min-width: 2000px) {
    #features {
        height: 410vh;
    }

    .image-text {
        margin: 15rem 0;
    }

    .image-text h2 {
        font-size: 3rem;
    }
}

/* Media query para tablets */
@media (max-width: 1500px) {
    #features {
        min-height: 400vh;
        background-size: auto 100%;
    }
}

/* Media query para tablets */
@media (max-width: 1023px) {
    #features {
        min-height: 390vh;
        background-size: auto 100%;
    }

    .text-container {
        padding-top: 170px;
    }

    .image-text {
        margin: 12rem 0;
    }

    .image-text h2 {
        font-size: 1.5rem;
    }
}

/* Media query para móviles */
@media (max-width: 768px) {
    #features {
        height: 370vh;
        background-size: auto 100%;
    }

    .text-container {
        padding-top: 120px;
    }

    .image-text h2 {
        font-size: 1.2rem;
    }

    /* Mantener el video visible pero ajustar su tamaño */
    #backgroundVideo {
        top: 0; /* Asegurarse de que esté en la parte superior */
        left: 50%;
        width: 100%;
        height: 120%;
        object-fit: cover;
        transform: translateX(-50%); /* Centrado horizontal */
    }

    #features::after {
        background-attachment: scroll; /* Cambiar a scroll en móviles para mejorar rendimiento */
    }
}

/* Media query para pantallas muy pequeñas */
@media (max-width: 425px) {
    .image-text h2 {
        font-size: 1.5rem;
        margin: 0 10px 0 10px;
    }
}
