/*CSS color oscuro*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    background: #fff;
    transition: background 0.5s ease;
}


a {
    color: #2196F3;
}

.section-bg {
    background-color: #ffffff;
}


/*--------------------------------------------------------------
# Header - Nav
--------------------------------------------------------------*/


#header {
    background: rgb(255 255 255);
    color: #000;
}

.navbar a {
    color: #000000db;
}

.navbar .active, .navbar .active:focus, .navbar li:hover>a {
    background: #ffffff4f;
}

.navbar .dropdown:hover>ul {
    background: #fff;
}

.navbar .dropdown ul a {
    color: #000;
}

.mobile-nav-toggle {
    color: #000;
}

.navbar-mobile ul {
    background-color: #fff;
}

.navbar-mobile {
    background: #323233;
}

.logo img {
  /* Duración de la transición */
  transition: opacity 0.5s ease;
}



/*--------------------------------------------------------------
# breadcrumbs
--------------------------------------------------------------*/


.breadcrumbs {
    background-color: #ababab08;
}

.breadcrumbs h2 {
    color: #000;
}

.breadcrumbs ol li+li {
    color: #000;
}

/*--------------------------------------------------------------
# features
--------------------------------------------------------------*/

.features .nav-link {
  background: #ffffff;
  color: #000000;
}

.features p ,
.features h3 {
    color: #000;
}

.features .nav-link h4 {
  color: #000
}

.features .nav-link:hover {
  color: #170c66;
}

.features .nav-link.active {
  transition: 0.3s;
  background: #170c66 linear-gradient(rgb(32 48 187), rgb(25 18 97));
  border-color: #000000;
}

.features .nav-link.active h4 {
  color: #FFFFFF; /* White */
}

.features .nav-link.active i {
  color: #FFFFFF !important;
}

/*--------------------------------------------------------------
# historia
--------------------------------------------------------------*/

#historia{
background: #efefef;
}

.historia h2 {
 color: #000;
}


.historia .our-story {
    background-color: #ffffff;
    color: #000;
}

.historia .our-story h4 {
  color: #838893;
}

.historia .our-story h3 {
    color: #000;
}

.historia ul i {
    color: #000;
}

.historia .watch-video a {
    color: #000;
}

.historia .watch-video i {
    color: #000;
}

/*--------------------------------------------------------------
# accordion 
--------------------------------------------------------------*/


.accordion-button {
  background-color: #fff;
  color: #000;
  border: none;
}

.accordion-button i{
  color: #000;
}

.accordion-item {
    border: 1px solid #fff !important;
}

.accordion-button:not(.collapsed) {
  background-color: #170c66;
  color: #fff;
}

.accordion-button:not(.collapsed) i{
  color: #fff;
}

.accordion-button:focus {
  outline: none; /* Elimina el contorno al enfocar el botón */
  border: none !important; /* Elimina el borde del botón */
  box-shadow: none !important; /* Elimina la sombra del botón */
}

.accordion-body {
  background-color: #fff;
  border: 1px solid #ccc; /* Añade un borde al cuerpo del acordeón */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade una sombra al cuerpo del acordeón */
}

.preguntas{
  color: #000;
}


/*--------------------------------------------------------------
# footer 
--------------------------------------------------------------*/

.footer {
  background: #e29505 linear-gradient(rgb(225 152 3), rgb(249 181 22), rgb(217 142 6));
  color: #fff;
}

#footer .footer-top h4 {
    color: #fff;
}

#footer .footer-top .footer-links ul a {
    color: #fff;
}

#footer .footer-top .footer-links ul i {
    color: #fff;
}

#footer .copyright {
    border-top: 1px solid #fff;
}