/*--------------------------------------------------------------
    # General
    --------------------------------------------------------------*/
body,
html {

    overflow-x: hidden;
}

.navbar a {
    color: #ffffffdb;
}

.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    background: #ffffff4f;
}

.navbar .dropdown:hover>ul {
    background: #000;
}

.navbar .dropdown ul a {
    color: #fff;
}

.mobile-nav-toggle {
    color: #fff;
}

.navbar-mobile ul {
    background-color: #000;
}

.navbar-mobile {
    background: #323233;
}

#features {
    position: relative;
    width: 100%;
    height: 320vh;
    overflow: hidden;
}

#backgroundVideo {
    position: fixed;
    /* Usamos fixed para que el video permanezca en su lugar durante el scroll */
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateX(-50%);
    /* Centrar horizontalmente */
    z-index: -1;
}

#features::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgb(33 37 41 / 44%), rgb(0 0 0 / 88%));
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    will-change: opacity;
    transition: opacity 1s ease;
}

#features.blur::after {
    opacity: 1;
}


.text-container {
    position: relative;
    z-index: 1;
    padding-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.image-text {
    margin: 12rem 0;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
}

.image-text h1 {
    font-size: calc(1.7rem + 4vw);
    text-transform: uppercase;
    color: #68bfad; /* Color base verde azulado */
    text-shadow:
      0 1px 0 #a4d6c8, /* Tono más claro */
      0 2px 0 #b6e9da,
      0 3px 0 #c8fcf0,
      0 4px 0 #d9fff9,
      0 5px 0 #ecffff,
      0 6px 0 #ffffff,
      0 9px 0 #ffffff,
      0 10px 0 #ffffff,
      3px 10px 15px rgba(255, 255, 255, 0.2), /* Sombra suave para profundidad */
      3px 10px 5px rgba(255, 255, 255, 0.4); /* Sombra más intensa para contraste */
  }

/* Media query para pantallas grandes */
@media (min-width: 2000px) {
    #features {
        height: 500vh;
    }

    .image-text {
        margin: 15rem 0;
    }

    .image-text h2 {
        font-size: 3rem;
    }
}

/* Media query para tablets */
@media (max-width: 1500px) {
    #features {
        min-height: 480vh;
        background-size: auto 100%;
    }
}

/* Media query para tablets */
@media (max-width: 1023px) {
    #features {
        min-height: 480vh;
        background-size: auto 100%;
    }

    .text-container {
        padding-top: 170px;
    }

    .image-text {
        margin: 12rem 0;
    }

    .image-text h2 {
        font-size: 1.5rem;
    }
}

/* Media query para móviles */
@media (max-width: 768px) {
    #features {
        height: 330vh;
    }

    .text-container {
        padding-top: 120px;
    }

    .image-text h2 {
        font-size: 1.2rem;
    }

    /* Mantener el video visible pero ajustar su tamaño */
    #backgroundVideo {
        top: 0;
        /* Asegurarse de que esté en la parte superior */
        left: 50%;
        width: 100%;
        height: 120%;
        object-fit: cover;
        transform: translateX(-50%);
        /* Centrado horizontal */
        z-index: -1;
    }

    #features::after {
        background-attachment: scroll;
        /* Cambiar a scroll en móviles para mejorar rendimiento */
    }

}

/* Media query para pantallas muy pequeñas */
@media (max-width: 425px) {
    #features {
       min-height: 320vh;
       background-size: auto 100%;
    }

    .image-text h2 {
        font-size: 1.5rem;
    }
}