   /*--------------------------------------------------------------
   # General
   --------------------------------------------------------------*/
   
    .navbar a {
    color: #ffffffdb;
    }

    .navbar .active, .navbar .active:focus, .navbar li:hover>a {
        background: #ffffff4f;
    }

    .navbar .dropdown:hover>ul {
        background: #000;
    }

    .navbar .dropdown ul a {
        color: #fff;
    }

    .mobile-nav-toggle {
        color: #fff;
    }

    .navbar-mobile ul {
        background-color: #000;
    }

    .navbar-mobile {
        background: #323233;
    }

    .logo img {
      /* Duración de la transición */
      transition: opacity 0.5s ease;
    }

    #features {
      position: relative;
      width: 100%;
      min-height: 250vh;
      background-image: url('../img/programas/zonaCrecerFondo.png');
      background-attachment: fixed;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      transition: opacity 1s ease;
    }

    #features::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(rgb(33 37 41 / 44%), rgb(0 0 0 / 88%));
      background-attachment: fixed;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
      transition: opacity 1s ease;
    }

    #features.blur::after {
      opacity: 1;
    }

    .text-container {
      padding-top: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    .image-text {
      margin: 10rem 0;
      color: #fff;
      font-size: 1rem;
      line-height: 1.5;
      opacity: 0;
      transition: opacity 1s;
      z-index: 1;
    }

    .image-text h1 {
        font-size: calc(1.375rem + 3.5vw);
    }

    /* Media query para pantallas grandes */
    @media (min-width: 2000px) {
      .image-text {
        margin: 30rem 0;
      }

      .image-text h2 {
        font-size: 3rem;
      }
    }

    /* Media query para tablets */
    @media (max-width: 1023px) {
      #features {
        min-height: 200vh;
        background-size: auto 100%;
      }

      .text-container {
        padding-top: 150px;
      }

      .image-text {
        margin: 10rem 0;
      }

      .image-text h2 {
        font-size: 1.5rem;
      }
    }

    /* Media query para móviles */
    @media (max-width: 768px) {
      #features {
        min-height: 150vh;
        background-size: auto 100%;
      }

      .text-container {
        padding-top: 120px;
      }

      .image-text h2 {
        font-size: 1.2rem;
      }
    }

    /* Media query para pantallas muy pequeñas */
    @media (max-width: 425px) {
      .image-text h2 {
        font-size: 1.5rem;
      }
    }
